<h1>test</h1>

<% if @category.present?  %>
  <h2>Category</h2>
  <%= @category.name %>

  <h2>Services</h2>
  <% @services.each do |service| %>
    <p>Service name: <%= service.name %></p>
    <p>Service logo: <%= service&.logo %></p>
    <p>Service logo: <%= service&.website %></p>
    <p>website: <a href="/<%= service&.website %>">website</a></p>
    <a href="/services/<%= service.id %>">learn more</a>

  <% end %>

<% else %>

  <h2>Services</h2>

<% end  %>

<% if @category.present?  %>
<div class="row">
  <div class="col-lg-4">
    <h2>Category</h2>
    <%= @category.name %>
  </div>
  <div class="col-lg-8">

    <h2>Services</h2>
    <% @services.each do |service| %>
      <p>Service name: <%= service.name %></p>
      <p>Service logo: <%= service&.logo %></p>
      <p>Service logo: <%= service&.website %></p>
      <p>website: <a href="/<%= service&.website %>">website</a></p>
      <a href="/services/<%= service.id %>">learn more</a>
      <hr>
    <% end %>

  </div>
</div>
<% else %>

  <h2>Services</h2>
  <div class="row">
    <div class="col-lg-4">
      <h2>All services</h2>
    </div>
    <div class="col-lg-8">
      <div class="row">
        <div class="col-lg-4">
          Organizations
          <hr>
        </div>
        <div class="col-lg-4">
          Programs offered
          <hr>
        </div>
      </div>
      <% @services.each do |service| %>
      <div class="row">
        <div class="col-lg-4">
          <p>Service logo: <%= service&.logo %></p>
          <p>Service name: <%= service.name %></p>
          <p>website: <a href="/<%= service&.website %>">website</a></p>
          <a href="/services/<%= service.id %>">learn more</a>
        </div>
        <div class="col-lg-4">
          Programs offered
        </div>

      </div>
      <hr>
      <% end %>
    </div>

  </div>

<% end  %>
