<h1>test</h1>

<% if @category.present?  %>
  <h2>Category</h2>
  <%= @category.name %>

  <h2>Services</h2>
  <% @services.each do |service| %>
    <p>Service name: <%= service.name %></p>
    <p>Service logo: <%= service&.logo %></p>
    <p>Service logo: <%= service&.website %></p>
    <p>website: <a href="/<%= service&.website %>">website</a></p>
    <a href="/services/<%= service.id %>">learn more</a>

  <% end %>

<% else %>

  <h2>Services</h2>

<% end  %>

<div class="row">
  <div class="col-lg-4">

  </div>
  <div class="col-lg-8">

  </div>
</div>
