<<<<<<< HEAD

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<div class="container">
		<div class="row">
			<nav class="navbar navbar-fixed col-md-3 " id="sidebar" role="navigation">
				<ul class="nav sidebar-nav left-nav" >
					<li class="sidebar-brand">
						<a href="#">6-12 YEARS OLDS</a>
					</li>
					<li id = "contact">
						<p>  Who to contact for information about...</p>
					</li>
					<li>
						<a href="#">Sports <i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#">Arts & Culture<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#">Community Clubs<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#">Before and After School<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
					</li>
					<li>
						<a href="#">Holiday / Pro-D<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
					</li>
				</ul>
			</nav>

			<div class="col-md-8 content">
				<div class="row">
					<div class="col-md-6">
						<h3>ORGANIZATIONS</h3>
						<hr>
						<div class="col-md-2 logos">
							<%= image_tag('logo.jpg', id: "logo") %>
						</div>
						<div class="col-md-9 register">
							<h3>Organization Name Here</h3>
							<h2><button type="button" class="btn btn-link">Register Now</button></h2>
						</div>
					</div>
					<div class="col-md-6">
						<h3>PROGRAMS OFFERED</h3>
						<hr>
						<div class="col-md-11 register">
							<h3>Program Description Here</h3>
						</div>
					</div>
				</div>

				<!--  -->

				<div class="row">
					<hr>
					<div class="col-md-6">
						<div class="col-md-2 logos">
							<%= image_tag('logo.jpg', id: "logo") %>
						</div>
						<div class="col-md-9 register">
							<h3>Organization Name Here</h3>
							<h2><button type="button" class="btn btn-link">Register Now</button></h2>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-11 register">
							<h3>Program Description Here</h3>
						</div>
					</div>
				</div>

				<!--  -->

				<div class="row">
					<hr>
					<div class="col-md-6">
						<div class="col-md-2 logos">
							<%= image_tag('logo.jpg', id: "logo") %>
						</div>
						<div class="col-md-9 register">
							<h3>Organization Name Here</h3>
							<h2><button type="button" class="btn btn-link">Register Now</button></h2>
						</div>
					</div>
					<div class="col-md-6">
						<div class="col-md-11 register">
							<h3>Program Description Here</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
=======
<div class="container">

	<nav class="navbar navbar-fixed col-md-4 " id="sidebar" role="navigation">
		<ul class="nav sidebar-nav left-nav" >
			<li class="sidebar-brand">
				<p>6-12 YEARS OLDS</p>
			</li>
			<li id = "contact">
				<p>  Who to contact for information about...</p>
			</li>
			<li>
				<a href="#">Sports
					<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Arts & Culture<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Community Clubs<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Before and After School<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
				<li>
					<a href="#">Holiday / Pro-D<i class="fa fa-caret-right pull-right" aria-hidden="true"></i></a>
				</li>
			</ul>
		</nav>
		<div class="container">

			<div class="col-md-8 content">
				<div class="row content-header">
					<div class="col-sm-6">
						ORGANIZATIONS
					</div>
					<div class="col-sm-6 hidden-xs">
						PROGRAMS OFFERED
					</div>
				</div>
				<div class="row content-row">

					<div class="col-xs-4 col-sm-2">
						<%= image_tag('logo.jpg', id: "logo", class: 'img-thumbnail') %>
					</div>
					<div class="col-xs-8 col-sm-4">
						<p>Delta Parks & Rec</p>
						<a>Register Now</a>
					</div>
					<div class="col-xs-12 col-sm-6">
						<span class="visible-xs">Programs Offered: </span>
						<p>Swimming, Basketball, Badminton, Ice Skating</p>
					</div>
				</div>
				<div class="row content-row">

					<div class="col-xs-4 col-sm-2">
						<%= image_tag('logo.jpg', id: "logo", class: 'img-thumbnail') %>
					</div>
					<div class="col-xs-8 col-sm-4">
						<p>Delta Parks & Rec</p>
						<a>Register Now</a>
					</div>
					<div class="col-xs-12 col-sm-6">
						<span class="visible-xs">Programs Offered: </span>
						<p>Swimming, Basketball, Badminton, Ice Skating</p>
					</div>
				</div>		
			</div>
		</div>
	</div>
>>>>>>> d69d5cf953aecf19690830b5e074998f52825a88
