<div class="container learn_more_body">
  <div class="row">
    <div class="col-md-8">
      <div class="learn-more-info">
        <%= image_tag 'running.jpg', :class=> "learn-more-pic" %>
        <div class="learn-text">
          <h4 class="teal-blue">Summer Farm Marathon</h4>
              <div class="child-icon deep-sky-blue">
                <%= image_tag 'icons/calender.png', :class=> "icon" %>
                Event - 07/05/17
              </div>
              <div class="child-icon deep-sky-blue">
                <%= image_tag 'icons/clock.png', :class=> "icon" %>
                11:30am
              </div>
              <div class="child-icon deep-sky-blue">
                <%= image_tag 'icons/baby.png', :class=> "icon" %>
                6-12 year olds
              </div>
              <div class="child-icon deep-sky-blue">
                <%= image_tag 'icons/tag.png', :class=> "icon" %>
                Free
              </div>
              <div class="child-icon deep-sky-blue">
                <%= image_tag 'icons/marker.png', :class=> "icon" %>
                North Delta
            </div>
              <p>Come Join us for a summer marathon for kids at Delta Farms. There will be games and food available for after the marathon. Everyone is welcome!</p>
            <div class="event-info teal-blue">
              <hr>
              <div class="info-left">
                <div class="event-icon">
                  <%= image_tag 'icons/marker.png', :class=> "info-icon" %>
                  <div class="address">
                    North Delta Recreation centre
                    <br>
                    11843 73 Ave Delta, BC V7E W6W
                  </div>
                </div>
              </div>
              <div class="info-right">
                  <div class="event-icon">
                    <%= image_tag 'icons/phone.png', :class=> "info-icon" %>
                    (604) 620 0000
                  </div>
                  <br>
                  <div class="event-icon">
                    <%= image_tag 'icons/globe.png', :class=> "info-icon" %>
                    www.marathon4kids.com
                  </div>
                  <br>
                  <div class="event-icon">
                    <%= image_tag 'icons/mail.png', :class=> "info-icon" %>
                    marathon4@kids.com
                  </div>
              </div>
            </div>
            <div class="bottom-clear">
              <br>
              <hr/>
            </div>
            <div>
              <h4 class="teal-blue">SHARE</h4>
              <%= image_tag 'icons/facebook.png', :class=> "share-icon" %>
              <%= image_tag 'icons/email.png', :class=> "share-icon" %>
            </div>
        </div>

      </div>
    </div>

    <div class="col-md-4 similar-events">
      <h4 class="teal-blue">SIMILAR EVENTS</h4>
      <!-- depending on how many similar events you want, can do a for each loop -->
      <div class="sim-event">
        <%= image_tag 'dance.jpg', :class=> "sim-event-pic" %>
        <div class="event-icon deep-sky-blue">
          <h4 class="teal-blue">Children's Dance Class</h4>
          <%= image_tag 'icons/calender.png', :class=> "icon" %>
          Event - 06/10/17
        </div>
        <div class="event-icon deep-sky-blue">
          <%= image_tag 'icons/clock.png', :class=> "icon" %>
          9:30am
        </div>
      </div>

      <div class="sim-event">
        <%= image_tag 'rollerblade.jpg', :class=> "sim-event-pic" %>
        <div class="event-icon deep-sky-blue">
          <h4 class="teal-blue">Summer RollerBlading</h4>
          <%= image_tag 'icons/calender.png', :class=> "icon" %>
          Event - 07/07/17
        </div>
        <div class="event-icon deep-sky-blue">
          <%= image_tag 'icons/clock.png', :class=> "icon" %>
          11:30am
        </div>
      </div>

      <div class="sim-event">
        <%= image_tag 'outdoors.jpg', :class=> "sim-event-pic" %>
        <div class="event-icon deep-sky-blue">
          <h4 class="teal-blue">Fun In The Park</h4>
          <%= image_tag 'icons/calender.png', :class=> "icon" %>
          Event - 09/01/17
        </div>
        <div class="event-icon deep-sky-blue">
          <%= image_tag 'icons/clock.png', :class=> "icon" %>
          5:30pm
        </div>
      </div>

      <div class="see-more text-center">
        <%= image_tag 'icons/see_more.png', :class=> "see-more-pic" %>
      </div>
    </div>
</div>

</div>
