<div class="container">

	<nav class="navbar navbar-fixed col-md-4 " id="sidebar" role="navigation">
		<ul class="nav sidebar-nav left-nav" >
			<li class="sidebar-brand">
        <a href="/programs/age/<%= @program.age_group.id %>">
          <%= @program.age_group.name %>
        </a>
			</li>
			<li id = "contact">
				<p>  Who to contact for information about...</p>
			</li>

      <% @program.age_group.programs.each do |program| %>
        <li>
          <a href="/programs/<%= program.id %>"><%= program.category %>
            <i class="fa fa-caret-right pull-right" aria-hidden="true"></i>
          </a>
        </li>
      <% end %>

			</ul>
		</nav>
		<div class="container">

			<div class="col-md-8 content">
				<div class="row content-header">
					<div class="col-sm-6">
						ORGANIZATIONS
					</div>
					<div class="col-sm-6 hidden-xs">
						PROGRAMS OFFERED
					</div>
				</div>



        <% @organizations.each do |k, v| %>
          <div class="row content-row">
            <div class="col-xs-4 col-sm-2">
              <%= image_tag('logo.jpg', id: "logo", class: 'img-thumbnail') %>
            </div>
            <div class="col-xs-8 col-sm-4">
              <p><%= k %></p>
              <a>Register Now</a>
              <% if Organization.find_by_title k %>
                <% o = Organization.find_by_title k %>
                <a href="//<%= o.website %>"><%= o.website %></a>
              <% end %>
            </div>
            <div class="col-xs-12 col-sm-6">
              <span class="visible-xs">Programs Offered: </span>
              <p><%= v.join(', ') %></p>
            </div>
          </div>
        <% end %>
        <%# @organizations %>

			</div>
		</div>
	</div>
