<div class="container-fluid">
  <div class="col-xs-3">
    <%= form_tag filter_resources_path do %>
      <div class="form-group">
        <% @age_groups.each do |age_group| %>
          <input type="checkbox" name="age_group_ids[]" value="<%= age_group.id %>" />
          <span><%= age_group.name %></span>
        <% end %>
      </div>

      <div class="form-group">
        <% @locations.each do |location| %>
          <input type='radio' name='location' value='<%= location.id %>'>
        <span><%= location.location %></span>
        <% end %>
      </div>

      <div class="form-group">
        <% @topics.each do |topic| %>
          <input type="checkbox" name="topic_ids[]" value="<%= topic.id %>" />
          <span><%= topic.name %></span>
        <% end %>
      </div>

      <div class="form-group">
        <% @types.each do |type| %>
        <input type='radio' name='type' value='<%= type.id %>'>
        <span><%= type.name %></span>
        <% end %>
      </div>

      <div class="form-group">
        <input class="btn btn-primary" type="submit" name="submit" value="Search">
      </div>
    <% end%>
  </div>
  <div class="col-xs-9">
    <% @resources.each do |resource| %>
    <%= link_to resource.name, resource_path(resource) %>
    <h4>Location: <%= resource.resource_filters.first&.resource_location&.location %></h4>
    <hr>
    <% end %>
  </div>
</div>
