<div class="container background">

  <%= form_for @resource do |f| %>
    <div class="form-horizontal">
      <div class="form-group">
        <h2>Submit your resources to benefit the Delta children here:<h2>
        <br>
      </div>
      <div class="form-group">
        <%= f.label :name, 'Title', class: "col-sm-3" %>
        <div class="col-sm-9">
          <%= f.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :feature, class: "col-sm-3"%>
        <div class="col-sm-2">
          <input type='radio' name='resource[feature]' value='true'>
          <span>Yes</span>
        </div>
        <div>
          <input type='radio' name='resource[feature]' value='false'>
          <span>No</span>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :start_date, class: "col-sm-3" %>
        <div class="col-sm-2">
          <%= f.date_field :start_date, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :end_date, class: "col-sm-3" %>
        <div class="col-sm-2">
          <%= f.date_field :end_date, class: "form-control" %>
        </div>
      </div>

      <br>
      <h4> Resource is about the situation in: <h4>
      <br>

      <div class="form-group">
        <div class="col-sm-offset-3">
          <% @locations.each do |location| %>
          <div class="col-sm-3">
            <input type='radio' name='location' value='<%= location.id %>'>
            <span><%= location.location %></span>
          </div>
          <% end %>
        </div>
      </div>
      <br>

      <div class="form-group">
        <label class="col-sm-3">Age Group</label>
        <div class="col-sm-offset-3">
          <% @age_groups.each do |age_group| %>
            <div class="col-sm-3">
              <input type="checkbox" name="age_group_ids[]" value="<%= age_group.id %>" />
              <span><%= age_group.name %></span>
            </div>
          <% end %>
        </div>
      </div>

      <br>

      <div class="form-group">
        <label class="col-sm-3 move-radio">Subject</label>
        <% @topics.each do |topic| %>
          <input type="checkbox" name="topic_ids[]" value="<%= topic.id %>" />
          <span><%= topic.name %></span>
        <% end %>
      </div>

      <br>

      <div class="form-group">
        <label class="col-sm-3">Type</label>
          <div class="col-sm-offset-3">
        <% @types.each do |type| %>
          <div class="col-sm-3">
            <input type='radio' name='type' value='<%= type.id %>'>
            <span><%= type.name %></span>
          </div>
        <% end %>
      </div>
      </div>

      <br>

      <div class="form-group">
         <%= f.label :description, class: "col-sm-3" %>
         <div class="col-sm-9">
            <%= f.text_area :description, class: 'form-control' %>
            <script type="text/javascript">
             CKEDITOR.replace('resource_description');
           </script>
        </div>
      </div>

      <br>

      <div class="form-group">
         <%= f.label :contact_name, class: "col-sm-3" %>
         <div class="col-sm-9">
            <%= f.text_field :contact_name, class: 'form-control' %>
        </div>
      </div>

      <br>

      <div class="form-group">
         <%= f.label :contact_email, class: "col-sm-3" %>
         <div class="col-sm-9">
            <%= f.text_field :contact_email, class: 'form-control' %>
        </div>
      </div>

      <br>

      <div class="form-group">
        <div class="col-sm-9 col-sm-offset-3">
          <%= f.submit 'Submit', class: 'btn btn-default' %>
        </div>
      </div>

    <% end %>
  </div>
</div>


<!-- class Resource < ApplicationRecord {
               :id => :integer,
             :name => :string, -
          :feature => :boolean, -
       :start_date => :date, -
         :end_date => :date, -
         :location => :string,-
      :description => :text,
     :contact_name => :string,
    :contact_email => :string,
       :created_at => :datetime,
       :updated_at => :datetime
} -->
