
<div class="container main-info">
  <div class="row">
    <div class="col-md-12">
      <div class="main-picture">
        <%= image_tag '5210/main.png', :class=> "main-pic" %>
      </div>
      <div class="main-content">
        <div class="content-info">
          <br>
          <br>
          <span class="teal-blue bold">What is "Live 5210?"</span>
          <br>
          <br>
          <%= image_tag '5210/5210info.png', :class=> "info-pic" %>
          <p class="slight-bold">
          <span class="slight-bold">Have you asked yourself questions like:</span>
          <br>
          <small>
          What should my child eat to be healthy?
          <br>
          She will play on our iPad all day - should I let her?
          <br>
          I've seen comercials saying it's important for him to be "active" - What does this mean?
        </small>
          <br>
          <br>
          <strong>Now there is one answer to all these questions - Live 5-2-1-0!
          <br> Watch the video below to learn more</strong>
          <br>
          <div class="video">
            <iframe width="640" height="360" src="https://www.youtube.com/embed/D9K0LSgGjwY" frameborder="0" allowfullscreen></iframe>
          </div>
          <br>

          <p class="teal-blue">Plan for Spring & Summer Fun Living 5210!</p>
          <br>

          <p>Looking for something to do with your child on a rainy day?
          Planning a picnic in the park and looking for some games? Look no
          further - the Live 5210 activity ideas below can help! Find the
          activity ideas based on the age of your child:</p>
          <br>

            <span class="bold">Birth to 1 year old</span>
            <br>
            Raising an active child starts now! Look at the Activity Ideas and
             Nutrition pages for ideas.
          </p>
          <br>

          <p>
            <span class="bold">1 to 4 years old</span>
            <br>
            Your child is busy and learning more every day. Try some of these
            Activity Ideas and Nutrition Suggestions.
          </p>
          <br>


          <p>
            <span class="bold">5 to 12 years old</span>
            <br>
            Work with child to set goals for health living 5210. Your child can
            help think of activities and track how it is going on a Goal Tracking
            Sheet. You can find activity ideas beginning on page 13 of the
            Interactive Toolkit
          </p>
          <br>
        </p>
        <span class="teal-blue bold">Plan for Spring & Summer Fun Living 5210</span>
        <div class="row resources">
          <div class="col-md-5">
            <%= image_tag '5210/carrot.png', :class=> "carrot-pic" %>
          </div>

          <div class="col-md-7">
            <p>
              <span class="bold">Get Rewards for Healthy Choices!</span>
              PMBC's Ministry of Health & the Public Health Agency of Canada, with
              partners, have created "Carrot Rewards", an app to help you make
              healthy eating & activity choices. By joining Carrot Rewards, you
              can earn loyalty points such as Aeroplan&#174; Miles, SCENE&#174;,
              Petro-Points&#8482; and More Rewards&#174; each time you do one of their
              healthy activities. To learn more, click here - <a href="https://www.carrotrewards.ca/home/">Carrot Rewards</a>
            </p>
          </div>
      </div>
        <span class="teal-blue bold">New Resources to Live 5-2-1-0</span>
        <div class="row resources">
          <div class="col-md-5">
            <%= image_tag '5210/5210letsgo.png', :class=> "carrot-pic" %>
          </div>
          <div class="col-md-7">
            <p>
              See below for some more information and ideas to Live 5210 with your
              children!
              <br>
              <br>
              <a href="https://www.carrotrewards.ca/home/">Screen Time to Live
              5210</a> - learn more about healthy amounts of screen time for your
              child!
              <br>
              <a href="https://www.carrotrewards.ca/home/">5210 Colouring Sheet
              </a> - print off and spend some time colouring and talking about
              the Live 5210 habits with your child.
            </p>
        </div>
      </div>
        <br>
        <br>
        <div class="footer5210 text-center">
          <p class="teal-blue"><strong>LIVE 5-2-1-0</strong></p>
          <hr>
          <%= image_tag 'icons/links.png', :class=> "icon" %>
          <a href="newsletter_09.pdf" target="_blank">Share PDF</a> &nbsp&nbsp&nbsp
          <%= image_tag 'icons/adobe.png', :class=> "icon" %>
          <a href="newsletter_09.pdf" target="_blank">View</a>
        </div>
        <div class="footer-space">

        </div>
      </div>
      </div>
    </div>
  </div>

</div>
