<h1>test</h1>

<h2>Category</h2>
<%= @category.name %>

<h2>Services</h2>
<% @services.each do |service| %>
  <p>Service name: <%= service.name %></p>
  <p>Service logo: <%= service&.logo %></p>
  <p>Service logo: <%= service&.website %></p>
  <p>website: <a href=`/${<%= service&.website %>}`">website</a></p>

<% end %>
