<div class="container ">
	<!-- <div class="row body-background"> -->
	<div class="col-sm-4">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-4 col-sm-8 col-md-10">
					<div id="accordion" class="panel panel-primary behclick-panel">
						<div class="panel-heading">
							<h3 class="panel-title" style="text-align: center;">FILTERS!!!<i class="fa fa-filter pull-right" aria-hidden="true"></i></h3>
						</div>
						<%= form_tag filter_events_path do %>
							<div class="panel-body" >
								<div class="panel-heading " >
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse0">
											<i class="indicator fa fa-caret-down" aria-hidden="true"></i> For
										</a>
									</h4>
								</div>
								<div id="collapse0" class="panel-collapse collapse in" >
									<ul class="list-group">
										<li class="list-group-item">
											<div class="checkbox">
												<label>
													<input type="radio" name="age_group_id" value="all" />
													Everyone
												</label>
											</div>
										</li>
										<% @age_groups.each do |age_group| %>
											<li class="list-group-item">
												<div class="checkbox">
													<label>
														<input type="radio" name="age_group_id" value="<%= age_group.id %>" />
														<%= age_group.name %>
													</label>
												</div>
											</li>
										<% end %>
									</ul>
								</div>
							<!--  -->
								<div class="panel-heading " >
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse1">
											<i class="indicator fa fa-caret-down" aria-hidden="true"></i> Activity Type
										</a>
									</h4>
								</div>
								<div id="collapse1" class="panel-collapse collapse in" >
									<ul class="list-group">
										<li class="list-group-item">
											<div class="checkbox">
												<label>
													<input type="radio" name="activity_id" value="all">
													All activities
												</label>
											</div>
										</li>
										<% @activities.each do |activity| %>
											<li class="list-group-item">
												<div class="radio" >
													<label>
														<input type="radio" name="activity_id" value="<%= activity.id %>">
														<%= activity.category %>
													</label>
												</div>
											</li>
										<% end %>
									</ul>
								</div>

								<!--  -->
								<div class="panel-heading" >
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse2"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>Where</a>
									</h4>
								</div>
								<div id="collapse2" class="panel-collapse collapse in">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="checkbox">
												<label>
													<input type="radio" name="city" value="all">
													All locations
												</label>
											</div>
										</li>
										<li class="list-group-item">
											<div class="checkbox" >
												<label>
													<input type="radio" name="city" value="Ladner">
													Ladner
												</label>
											</div>
										</li>
										<li class="list-group-item">
											<div class="checkbox"  >
												<label>
													<input type="radio" name="city" value="North Delta">
													North Delta
												</label>
											</div>
										</li>
										<li class="list-group-item">
											<div class="checkbox"  >
												<label>
													<input type="radio" name="city" value="Tsawwassen">
													Tsawwassen
												</label>
											</div>
										</li>
									</ul>
								</div>
								<!--  -->

								<div class="panel-heading" >
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse4"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>Cost</a>
									</h4>
								</div>
								<div id="collapse4" class="panel-collapse collapse in">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="checkbox">
												<label>
													<input type="radio" name="cost" value="all">
													Free and paid
												</label>
											</div>
										</li>
										<li class="list-group-item">
											<div class="checkbox" >
												<label>
													<input type="radio" name="cost" value="free">
													Free
												</label>
											</div>
										</li>
										<li class="list-group-item">
											<div class="checkbox" >
												<label>
													<input type="radio" name="cost" value="paid">
													Paid
												</label>
											</div>
										</li>
									</ul>
								</div>

								<!--  -->

								<div class="panel-heading" >
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse5"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>Recurrence</a>
									</h4>
								</div>
								<div id="collapse5" class="panel-collapse collapse in">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="checkbox">
												<label>
													<input type="radio" name="repeat" value="all">
													Ongoing and events
												</label>
											</div>
										</li>
										<li class="list-group-item">
											<div class="checkbox">
												<label>
													<input type="radio" name="repeat" value="true">
													Ongoing
												</label>
											</div>
										</li>
										<li class="list-group-item">
											<div class="checkbox" >
												<label>
													<input type="radio" name="repeat" value="false">
													Events
												</label>
											</div>
										</li>
									</ul>
								</div>

								<!--  -->

								<!-- <div class="panel-heading" >
									<h4 class="panel-title">
										<a data-toggle="collapse" href="#collapse3"><i class="indicator fa fa-caret-down" aria-hidden="true"></i>When</a>
									</h4>
								</div>
								<div id="collapse3" class="panel-collapse collapse in">
									<ul class="list-group">
										<li class="list-group-item">
											<div class="form-group" >
												<label for="from">
													Start Date:
												</label>
												<input type="text" class="form-control" id="from">
											</div>
										</li>
										<li class="list-group-item">
											<div class="form-group" >
												<label for="to">
													End Date:
												</label>
												<input type="text" class="form-control" id="to">
											</div>
										</li>
									</ul>
								</div> -->

								<!--  -->
							</div>
							<div class="form-group">
								<input class="btn btn-primary" type="submit" name="submit" value="Filter">
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Start Contents -->

	<!-- Start Calendar -->
	<div class="col-sm-8">
		<div class="row">
			<div class="thumbnail">
				<div class="caption-full">
					<h4 style="text-align:center;"><a href="#">ACTIVITIES CALENDAR</a></h4>
				</div>
					<%= month_calendar events: @events do |date, events| %>
					<%= date.day %>
					<% events.each do |event| %>
						<div>
							<% link_name = event.name %>
							<% if link_name.length > 7 %>
								<% link_name = link_name.first(7) + '...' %>
							<% end %>
							<%= link_to(link_name, sport_path(event)) %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<!--S Featured  -->
		<h3>Featured</h3>
		<div class="row">
			<div class="thumbnail">
				<%= image_tag 'outdoors.jpg', class: 'img-responsive' %>
				<div class="caption-full">
					<% feature1 = @features.first %>
					<h4><%= link_to feature1.name, sport_path(feature1.id) %>
					</h4>

					<div class="activity-info">
						<%= image_tag 'icons/clock.png', :class=> "icon" %>12:00pm
						<%= image_tag 'icons/baby.png', :class=> "icon" %><%= feature1.age_group.name %>
						<%= image_tag 'icons/tag.png', :class=> "icon" %><%= feature1.cost %>
						<%= image_tag 'icons/marker.png', :class=> "icon" %><%= feature1.city %>
					</div>
					<p><%= feature1.description%> <%= feature1.more_info %></p>
					<p class="text-right"><a href="">Learn More</a></p>
					<p></p>
				</div>
			</div>
		</div>
		<!-- Start Upcoming -->
		<h3>Upcoming</h3>
		<div class="row">
			<div class="thumbnail">
				<% feature2 = @features.second %>
				<%= image_tag 'rollerblade.jpg', class: 'img-responsive' %>
				<div class="caption-full">
					<h4><%= link_to feature2.name, sport_path(feature2.id) %>
					</h4>

					<div class="activity-info">
						<%= image_tag 'icons/clock.png', :class=> "icon" %>3:00pm
						<%= image_tag 'icons/baby.png', :class=> "icon" %><%= feature2.age_group.name %>
						<%= image_tag 'icons/tag.png', :class=> "icon" %><%= feature2.cost %>
						<%= image_tag 'icons/marker.png', :class=> "icon" %><%= feature2.city %>
					</div>

					<p><%= feature2.description %> <%= feature2.more_info %></p>
					<p class="text-right"><a href="">Learn More</a></p>
					<p></p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="thumbnail">
				<%= image_tag 'dance.jpg', class: "img-responsive" %>
				<div class="caption-full">
					<% feature3 = @features.third %>
					<h4><%= link_to feature3.name, sport_path(feature3.id) %>
					</h4>

					<div class="activity-info">
						<%= image_tag 'icons/clock.png', :class=> "icon" %>9:00pm
						<%= image_tag 'icons/baby.png', :class=> "icon" %><%= feature3.age_group.name %>
						<%= image_tag 'icons/tag.png', :class=> "icon" %><%= feature3.cost %>
						<%= image_tag 'icons/marker.png', :class=> "icon" %><%= feature3.city %>
					</div>

					<p><%= feature3.description %><%= feature3.more_info %></p>
					<p class="text-right"><a href="">Learn More</a></p>
					<p></p>
				</div>
			</div>
		</div>

	</div>
</div>
